body {
  min-width: 350px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #545b6d;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 24px;
  text-align: center;
  color: rgb(53, 52, 52);
}

.grid-container {
  width: 100%;
  min-height: 100vh;
  background-color: #545b6d;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto);
  grid-template-areas:
    "header header"
    "main-content aside"
    "footer footer";
}

.header {
  grid-area: header;
  padding: 8px;
}

.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(2, 0.5fr);
  padding: 8px;
  gap: 8px;
  grid-template-areas:
    "main-text main-text"
    "chapter-1 chapter-2"
    "chapter-3 chapter-3";
  background-color: #b8b3a5;
}

.main-text {
  grid-area: main-text;
}

.chapter-1 {
  grid-area: chapter-1;
}

.chapter-2 {
  grid-area: chapter-2;
}

.chapter-3 {
  grid-area: chapter-3;
}

.main-content article {
  background-color: #808080;
  padding: 8px;
}

.aside {
  grid-area: aside;
  background-color: #b0a1a4;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  padding: 8px;
  gap: 8px;
}

.footer section {
  background-color: #727d91;
  padding: 8px;
}

h1 {
  font-size: 36px;
  color: darkgray;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}
